*{
  box-sizing: border-box;
}
p{
  font-family: 'Abel', sans-serif;
}
h1 h2 h3 h4 h5 {
  font-family: 'Anton', sans-serif;
}


/*iPHONE X*/

body {
  margin: 0;
  padding:0;
  background-color: #F0F0F0;
}
main{
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: repeat(5, 1fr);
  grid-gap:0;
  height: 100vh;
  width: 100vw;
  grid-template-areas:
      ". box1 ."
      ". box2 ."
      ". box3 ."
      ". box4 ."
      ". box5 .";
}

.box1{
    grid-area: box1;
}
.box2{
    grid-area: box2;
    display: grid;
    justify-items: center;
    /*justify-content: space-around;*/

}
.box3 {
    grid-area: box3;
    display: grid;
    grid-template-areas:
    "icon1 icon3"
    "icon2 icon4";

}

.box3 img{
  padding: 5px;
  height: 105px;
  width:105px;
}
.icon1{
    grid-area: icon1;
    margin-left: auto;
    padding: 5px;
}
.icon2{
    grid-area: icon2;
    margin-left: auto;
    padding: 5px;
}
.icon3{
    grid-area: icon3;
    margin-right: auto;
    padding: 5px;
}
.icon4{
    grid-area: icon4;
    margin-right: auto;
    padding: 5px;
}

.box4{
    grid-area: box4;
    padding-top: 50px;
}
.box4 h5{
    text-align: center;
}
.box4 img{
    width: 90vw;
}
.box5{
    grid-area: box5;
    display: flex;
    justify-content: flex-end;
}
.box5 h5{
    margin-right: auto;
}
.box5 img {
    height: 18px;
    width: 18px;
    padding: 2px;
}

/*SMALL SCREEN iphone x landscape*/
@media (min-width: 576px) {

  main {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
            ". box1 box1 ."
            ". box2 box2 ."
            ". box3 box3 ."
            ". boxhr boxhr ."
            ". box4 box4 ."
            ". box5 box5 ."
            ". box6 box6 . "
            ". box5 box5 .";
  }
.box3{
  display: flex;
  margin: 0;
  justify-content: center;
}
.boxhr{
  grid-area: boxhr;
}

.icon1 {
  padding: 0;
  margin: 0;
}
  .icon2 {
    padding: 0;
    margin: 0;
  }
  .icon3 {
    padding: 0;
    margin: 0;
  }
  .icon4 {
    padding: 0;
    margin: 0;
  }
}

/*medium SCREEN ipad*/
@media (min-width: 768px) {

  main {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: ". box1 box1 ." ". box2 box2 ." ". box3 box3 ." ". box4 box4 ." ". box5 box5 ." ". box6 box6 . " ". box5 box5 .";


  }
  }

